ffmpeg-python
Flask
Flask_Cors
gradio>=5.31.0
gradio-client==1.12.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
numpy==1.23.5
pyworld==0.3.2
scipy==1.10.0
SoundFile==0.12.1
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
torchcrepe
tqdm
rich
loguru
scikit-maad
praat-parselmouth
onnx
onnxsim
onnxoptimizer
fairseq==0.12.2
librosa==0.9.1
tensorboard
tensorboardX
transformers
edge_tts
langdetect
pyyaml
pynvml
faiss-cpu
einops
local_attention
psutil